
Data/dataset/cifar-10-python.tar.gz
Data/dataset/cifar-10-batches-py/test_batch
Data/dataset/cifar-10-batches-py/readme.html
Data/dataset/cifar-10-batches-py/data_batch_5
Data/dataset/cifar-10-batches-py/data_batch_4
Data/dataset/cifar-10-batches-py/data_batch_3
Data/dataset/cifar-10-batches-py/data_batch_2
Data/dataset/cifar-10-batches-py/data_batch_1
Data/dataset/cifar-10-batches-py/batches.meta
